.card-button {
  background-color: transparent;
  -fx-background-color: transparent;
  border-radius: 12px;
  -fx-border-radius: 12px;
  border-color: #E2E2E2;
  -fx-border-color: #E2E2E2;
  border-width: 1.5px;
  -fx-border-width: 1.5px;
  -fx-border-insets: -1.5px;
  padding: 0;
  -fx-padding: 0;
  -fx-alignment: center;
  -fx-pref-width: 280px;
}

.card-button:hover {
  border-color: #5B36C9;
  -fx-border-color: #5B36C9;
}

.card-image {
  -fx-fit-height: 160px;
}

.card-body {
  -fx-border-radius: 0 0 12 12;
  border-radius: 0 0 12px 12px;
  padding: 12px 16px 12px 16px;
  -fx-padding: 12 16 12 16;
  -fx-spacing: 14;
  -fx-alignment: center-left;
}

.card-content {
  padding: 0px 0px 0px 0px;
  -fx-padding: 0 0 0 0;
  -fx-alignment: TOP_RIGHT;
}

.card-text {
  -fx-spacing: 2;
  -fx-alignment: TOP_LEFT;
}

.card-title {
  -fx-text-fill: #0A0A0B;
  font-size: 20px;
  -fx-font-size: 20px;
  font-family: "Nunito Sans";
  -fx-font-family: "Nunito Sans";
  font-weight: bold;
  -fx-font-weight: bold;
  -fx-line-spacing: 6px;
}

.card-subtitle {
  -fx-text-fill: #939698;
  font-size: 16px;
  -fx-font-size: 16px;
  font-family: "Violet Sans";
  -fx-font-family: "Violet Sans";
}

.card-price {
  -fx-text-fill: #5B36C9;
  font-size: 16px;
  -fx-font-size: 16px;
  font-family: "Violet Sans";
  -fx-font-family: "Violet Sans";
  -fx-text-alignment: center-right;
}

.size-button {
  background-color: #FFFFFF;
  -fx-background-color: #FFFFFF;
  -fx-text-fill: #5B36C9;
  font-size: 14px;
  -fx-font-size: 14px;
  font-family: "Violet Sans";
  -fx-font-family: "Violet Sans";
  border-color: #939698;
  -fx-border-color: #939698;
  border-width: 1px;
  -fx-border-width: 1px;
  border-radius: 5px;
  -fx-border-radius: 5px;
}

.size-button:hover {
  background-color: #FFFFFF;
  -fx-background-color: #FFFFFF;
  border-color: #5B36C9;
  -fx-border-color: #5B36C9;
}

/* Style untuk tombol ukuran yang AKTIF */
.size-button-active {
  background-color: #5B36C9;
  -fx-background-color: #5B36C9;
  -fx-text-fill: white;
  border-color: #FFFFFF;
  -fx-border-color: #5B36C9;


}

.price-button {
  background-color: #FFFFFF;
  -fx-background-color: #FFFFFF;
  -fx-text-fill: #5B36C9;
  font-size: 14px;
  -fx-font-size: 14px;
  font-family: "Violet Sans";
  -fx-font-family: "Violet Sans";
  border-radius: 5px;
  -fx-border-radius: 5px;
}

.price-button:pressed {
  border-color: #5B36C9;
  -fx-border-color: #5B36C9;
}

.apply-button:pressed {
  border-color: #FFFFFF;
  -fx-border-color: #FFFFFF;
}