.product-price-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #4A148C;
    -fx-padding: 0 0 10 0;
}

.primaryButton {
    -fx-font-size: 14px;
    -fx-padding: 8px 12px;
    -fx-background-color: #ffffff;
    -fx-border-color: #4A148C;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: #4A148C;
    -fx-cursor: pointer;
}

.primaryButton:hover {
    -fx-background-color: #4A148C;
    -fx-text-fill: #ffffff;
}

#checkoutButton {
    -fx-pref-height: 46px;
    -fx-padding: 8px 12px;
    -fx-background-color: #4A148C;
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, #4A148C, 4, 0.2, 0, 2);
    -fx-max-width: Infinity;
    -fx-cursor: hand;
    -fx-spacing: 10px;
}

#addPrescriptionButton {
    -fx-pref-width: 9999;
    -fx-max-width: Infinity;
    -fx-pref-height: 46px;
    -fx-padding: 8px 12px;
    -fx-background-color: #fff;
    -fx-text-fill: #4A148C;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-color: #4A148C;
    -fx-border-width: 2px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-alignment: center;
    -fx-cursor: hand;
    -fx-spacing: 10px;
}

#addPrescriptionButton:hover {
    -fx-background-color: #4A148C;
    -fx-text-fill: #fff;
}

.round-button {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #222;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-min-width: 46px;
    -fx-min-height: 46px;
    -fx-pref-width: 46px;
    -fx-pref-height: 46px;
    -fx-max-width: 46px;
    -fx-max-height: 46px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1.5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 2, 0.2, 0, 1);
    -fx-padding: 0;
}

.round-button:hover {
    -fx-background-color: #cccccc;
}

.quantity-box-label {
    -fx-border-color: #cccccc;
    -fx-border-width: 1.5px;
    -fx-background-color: #fff;
    -fx-padding: 0 5px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-min-width: 46px;
    -fx-pref-width: 46px;
    -fx-pref-height: 46px;
    -fx-text-fill: #222;
    -fx-alignment: center;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.product-name-label {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #222;
    -fx-padding: 0;
}

.product-brand-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #6C3DD1;
    -fx-padding: 0;
}

.product-size-label,
.color-circle {
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
    -fx-max-width: 60px;
    -fx-max-height: 60px;
}

.product-size-label {
    -fx-padding: 0;
    -fx-background-color: #f0f0f0;
    -fx-font-size: 16px;
    -fx-text-fill: #222;
    -fx-border-color: #ccc;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-alignment: center;
}

.product-size-label:hover {
    -fx-background-color: #4A148C;
    -fx-text-fill: #ffffff;
}

.color-circle {
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-arc-width: 60px;
    -fx-arc-height: 60px;
    -fx-stroke: #ccc;
    -fx-stroke-width: 2px;
    -fx-fill: #e0e0e0;
}

.color-circle:hover {
    -fx-stroke-width: 3px;
}

.color-box {
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-arc-width: 8px;
    -fx-arc-height: 8px;
    -fx-stroke: #ccc;
    -fx-stroke-width: 2px;
    -fx-fill: #e0e0e0;
}

.section-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #222;
    -fx-alignment: top_left;
    -fx-label-padding: 0 0 2 2;
    -fx-padding: 0 0 2 2;
}

.main-container {
    -fx-padding: 20;
}