.card {
  background-color: transparent;
  -fx-background-color: transparent;
  border-radius: 24px;
  -fx-border-radius: 24px;
  border-color: #E2E2E2;
  -fx-border-color: #E2E2E2;
  border-width: 1.5px;
  -fx-border-width: 1.5px;
  -fx-border-insets: -1.5px;
  padding: 0;
  -fx-padding: 0;
  -fx-alignment: center;
}

.card-image {
  -fx-fit-height: 160px;
}

.card-body {
  -fx-border-radius: 0 0 24 24;
  border-radius: 0 0 24px 24px;
  padding: 12px 16px 12px 16px;
  -fx-padding: 12 16 12 16;
  -fx-spacing: 14;
  -fx-alignment: center;
}

.card-content {
  padding: 8px 12px 8px 12px;
  -fx-padding: 8 12 8 12;
  -fx-spacing: 27;
  -fx-alignment: TOP_RIGHT;
}

.card-text {
  -fx-spacing: 2;
  -fx-alignment: TOP_LEFT;
}

.card-title {
  -fx-text-fill: #0A0A0B;
  font-size: 20px;
  -fx-font-size: 20px;
  font-family: "Nunito Sans";
  -fx-font-family: "Nunito Sans";
  font-weight: bold;
  -fx-font-weight: bold;
  -fx-line-spacing: 6px;
  -fx-alignment: LEFT;
}

.card-subtitle {
  -fx-text-fill: #939698;
  font-size: 16px;
  -fx-font-size: 16px;
  font-family: "Violet Sans";
  -fx-font-family: "Violet Sans";
  -fx-alignment: LEFT;
}

.card-price {
  -fx-text-fill: #5B36C9;
  font-size: 16px;
  -fx-font-size: 16px;
  font-family: "Violet Sans";
  -fx-font-family: "Violet Sans";
  -fx-alignment: RIGHT;
}
